<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Profil Arik</title>
</head>
<body>

    <div class="container">
        
        {% include "base.html" %}

        
        <div id="accordion">
            <h3>Aktivitas Saat Ini <span class="up"></span><span class="down"></span></h3>
            <div>
              <p>
              Saat ini saya adalah mahasiswa jurusan sistem informasi Universitas Indonesia semester 3.
              </p>
            </div>
            <h3>Pengalaman Organisasi/Kepanitiaan <span class="up"></span><span class="down"></span></h3>
            <div>
              <p>
              Selama di fasilkom saya mengikuti organisasi FUKI sebagai staff Islamic Learning Centre. Selain itu, 
              saya pernah menjadi mentor agama PMB
              </p>
            </div>
            <h3>Prestasi <span class="up"></span><span class="down"></span></h3>
            <div>
              <p>
              Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
              Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
              ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
              lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
              </p>
              <ul>
                <li>List item one</li>
                <li>List item two</li>
                <li>List item three</li>
              </ul>
            </div>
            <h3>Hobi <span class="up"></span><span class="down"></span></h3>
            <div>
              <p>
              Cras dictum. Pellentesque habitant morbi tristique senectus et netus
              et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
              faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
              mauris vel est.
              </p>
              <p>
              Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
              Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos.
              </p>
            </div>

          </div>
          <button class='btn btn-success' id="up">UP</button>
              <button class='btn btn-success' id="down">Down</button>
        <div class="footer">
            <p class="copy">Copyright 2020. Athallah Rikza Ihsani. All rights reserved.</p>
        </div>

    </div>
    
    <script type = "text/javascript" src="{% static 'script.js' %}"></script>
</body>
</html>