<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
</head>

<body>
    <div class="header">
        <h1 class="nama">Athallah Rikza Ihsani</h1>
        <h2 class="title">Undergraduate Student at University of Indonesia</h2>
    </div>

    <div class="navbar navbar-expand-sm navbar-dark bg-dark">
        <nav>
            
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarMenu">

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="navbar-brand">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'story3:about' %}" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'story3:story8' %}" class="nav-link">Story 8</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'story3:Contact' %}" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'story1:index' %}" class="nav-link">Story 1</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'story3:tambahmatkul' %}" class="nav-link">Tambah Matkul</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'story3:daftarmatkul' %}" class="nav-link">Daftar Matkul</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'story3:ikutkegiatan' %}" class="nav-link">Ikut Kegiatan</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'story3:daftarkegiatan' %}" class="nav-link">Daftar Kegiatan</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'story3:tambahkegiatan' %}" class="nav-link">Tambah Kegiatan Baru</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'story3:story9' %}" class="nav-link">Log In</a>
                    </li>
                </ul>

            </div>

        </nav>
    </div>

   
</body>
</html>
