<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Profil Arik</title>
</head>
<body>

    <div class="container">
        
        {% include "base2.html" %}

        <h3>Cari Buku Anda Disini !</h3>
        <input id = "keyword" placeholder="Masukkan judul buku !">
<!--         
        <ol id="daftar_buku">
        </ol> -->
        <table id="daftar_buku">
            <tr>
                <th></th>
            </tr>
        </table>


        <div class="footer">
            <p class="copy">Copyright 2020. Athallah Rikza Ihsani. All rights reserved.</p>
        </div>

    </div>
    <script type = "text/javascript" src="{% static 'script.js' %}"></script>
</body>
</html>