/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Css Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Web Style */
body{
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
    
}

.container{
    width: 800px;
    margin: auto;
    background-color: white;
    background-image: url(/static/spikes.png);
}

.header{
    padding: 20px;
    padding-bottom: 10px;
}

.header .nama{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.header .title{
    font-size: 24px;
    font-weight: bold;
    color: salmon;
}

.navbar-brand{
display: inline;
}

.image{
    height: 300px;
    width: 300px;
    background-image: url(/static/foto.jpg);
    background-size: cover;
    border-radius: 50%;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 30px;
    background-position: 0 -40px;
    border: 5px solid salmon;
}

.content .subjudul{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.content .profile{
    font-size: 16px;
    margin-left: 10px;
    width: 600px;
}

.content .data{
    padding-left: 5px;
}

.deskripsi .subjudul{
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
}

.deskripsi .isi{
    text-indent: 50px;
    /* margin-left: 300px;
    margin-right: 300px; */
    margin-right: 15%;
    margin-left: 15%;
    text-align: justify;
    margin-bottom: 200px;
}

.MyContact .subjudul{
    
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
}

.MyContact .contact{
    font-size: 16px;
    margin-left: 5px;
    text-indent: 5px;
    width: 300px;
}


.instagram{
    height: 50px;
    width: 400px;
    background-color: salmon;
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    font: 20px Comic sans MS;
    margin-bottom: 20px;
    
}

.instagram a{
    color:white;
}

.instagram a:hover{
    color: white;
}

.linkedin{
    height: 50px;
    width: 400px;
    background-color: salmon;
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    font: 20px Comic sans MS;
    margin-bottom: 20px;
}

.linkedin a{
    color:white;
}

.linkedin a:hover{
    color: white;
}

.facebook{
    height: 50px;
    width: 400px;
    background-color: salmon;
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    font: 20px Comic sans MS;
    margin-bottom: 50px;
}

.facebook a{
    color:white;
}

.facebook a:hover{
    color: white;
}

.footer{
    margin-top: 25px;
    background-color: black;
    padding: 10px;
    text-align: center;
}

.footer .copy{
    color: white;
}

.formulir{
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width:450px){
    .deskripsi .isi{
        margin-right: 5%;
        margin-left: 5%;
    }

    .instagram{
        width: 80%;
    }

    .linkedin{
        width: 80%;
    }

    .facebook{
        width: 80%;
    }
}

.up, .down        { cursor: pointer; }
.up:after         { content: '△'; }
.up:hover:after   { content: '▲'; }
.down:after       { content: '▽'; }
.down:hover:after { content: '▼'; }